<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.edu.mapper.UserVipMapper" >
  <resultMap id="BaseResultMap" type="com.edu.pojo.UserVip" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="vid" property="vid" jdbcType="INTEGER" />
    <result column="book" property="book" jdbcType="INTEGER" />
    <result column="video" property="video" jdbcType="INTEGER" />
    <result column="column" property="column" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="DATE" />
    <result column="endtime" property="endtime" jdbcType="DATE" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, vid, book, video, column, createtime, endtime, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_uservip
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_uservip
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.edu.pojo.UserVip" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_uservip (uid, vid, book, 
      video, column, createtime, 
      endtime, flag)
    values (#{uid,jdbcType=INTEGER}, #{vid,jdbcType=INTEGER}, #{book,jdbcType=INTEGER}, 
      #{video,jdbcType=INTEGER}, #{column,jdbcType=INTEGER}, #{createtime,jdbcType=DATE}, 
      #{endtime,jdbcType=DATE}, #{flag,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.edu.pojo.UserVip" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_uservip
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="vid != null" >
        vid,
      </if>
      <if test="book != null" >
        book,
      </if>
      <if test="video != null" >
        video,
      </if>
      <if test="column != null" >
        column,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="endtime != null" >
        endtime,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="vid != null" >
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="book != null" >
        #{book,jdbcType=INTEGER},
      </if>
      <if test="video != null" >
        #{video,jdbcType=INTEGER},
      </if>
      <if test="column != null" >
        #{column,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=DATE},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.edu.pojo.UserVip" >
    update t_uservip
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="vid != null" >
        vid = #{vid,jdbcType=INTEGER},
      </if>
      <if test="book != null" >
        book = #{book,jdbcType=INTEGER},
      </if>
      <if test="video != null" >
        video = #{video,jdbcType=INTEGER},
      </if>
      <if test="column != null" >
        column = #{column,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=DATE},
      </if>
      <if test="endtime != null" >
        endtime = #{endtime,jdbcType=DATE},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.edu.pojo.UserVip" >
    update t_uservip
    set uid = #{uid,jdbcType=INTEGER},
      vid = #{vid,jdbcType=INTEGER},
      book = #{book,jdbcType=INTEGER},
      video = #{video,jdbcType=INTEGER},
      column = #{column,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=DATE},
      endtime = #{endtime,jdbcType=DATE},
      flag = #{flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>